/*---------------------------------------
	Buttons
---------------------------------------*/
.pmpro_btn, .pmpro_btn:link, .pmpro_content_message a, .pmpro_content_message a:link {
	display: inline-block;
	background-color: #EFEFEF;
	background-image: none;
	border: 1px solid #D6D6D6;	
	-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
	padding: 6px 12px;
	margin: 0;
	color: #444;
	font-size: 12px;
	font-weight: 700;
	text-transform: none;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	   -o-user-select: none;
		  user-select: none;
}

.pmpro_btn:focus, .pmpro_content_message a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


.pmpro_btn:active,
.pmpro_btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.pmpro_btn.disabled,
.pmpro_btn[disabled],
fieldset[disabled] .pmpro_btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*---------------------------------------
	Forms
---------------------------------------*/
form.pmpro_form div {clear: left; margin: 0; padding:15px; border-radius:2px;border-bottom:1px dotted #EFEFEF;  }
form.pmpro_form label {float: left; margin: 3px 10px 0 0; width: 120px; font-size:12px;color:#bbb;font-weight: bold; text-align: right; }
form.pmpro_form .likelabel {font-weight: bold; }
form.pmpro_form .input, form.pmpro_form textarea, .input, form.pmpro_form select {padding: 6px; border: 1px solid #EFEFEF; margin: 0 3px 0 0; border-radius:2px;}
form.pmpro_form textarea {font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
form.pmpro_form select {margin: 2px 0 0 0 ; font-size: 12px;}
form.pmpro_form .lite {color: #666; }
form.pmpro_form .leftmar {margin: 8px 0 0 130px; }
#content .content ul.pmpro_account_list{list-style:none;}
.pmpro_account_list li{padding:6px 0;border-bottom:1px dotted #EFEFEF;}
form.pmpro_form .pmpro_captcha {margin: 0 0 0 130px !important; }
form.pmpro_form .pmpro_captcha div {clear: none; margin: 0; }
form.pmpro_form .pmpro_submit {margin-left: 130px; }
form.pmpro_form .pmpro_submit span {float: left; }
form.pmpro_form #pmpro_processing_message {margin: 5px 0 0 10px; font-style: italic; color: #999; }

#pmpro_invoice_table,
#pmpro_confirmation_table{margin:30px 0 0;}
#pmpro_invoice_table thead,
#pmpro_confirmation_table thead{font-size:12px;text-transform: uppercase;color:#FFF;background:#232b2d;}
#pmpro_invoice_table thead th,
#pmpro_invoice_table tbody td,
#pmpro_confirmation_table thead th,
#pmpro_confirmation_table tbody td{
	padding:10px;
}
#pmpro_invoice_table tbody,
#pmpro_confirmation_table tbody{
	border:1px solid #EFEFEF;
}

/*--------------------------------------------------
	Messages - Success, Error, Alert
----------------------------------------------------*/
.pmpro_message {background-color: #d9edf7; margin: .5em 0; padding: 10px 15px; color: #31708f; font-size: 14px; font-weight: 400; line-height: 1.5em; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; border: 1px solid #bce8f1; }

.pmpro_success {background-color: #dff0d8; color: #3c763d; border-color: #bce8f1; }
.pmpro_error {background-color: #f2dede; color: #a94442; border-color: #ebccd1; }
.pmpro_alert {background-color: #fcf8e3; color: #8a6d3b; border-color: #faebcc;}

.pmpro_content_message a {margin: 5px 5px 0 0; }

.pmpro_message a {color: #245269; text-decoration: underline; }
.pmpro_success a {color: #2b542c; }
.pmpro_error a {color: #843534; }
.pmpro_alert a {color: #66512c; }

input.pmpro_error {background-image: none;}
select.pmpro_error {background-image: none;}

/*---------------------------------------
	Membership Checkout
---------------------------------------*/
.pmpro_checkout thead th {font-weight: bold; color: #FFF; background:#232b2d;padding: 15px 30px; }
.pmpro_checkout tbody{padding:30px; border:1px solid #EFEFEF;}
.pmpro_checkout tbody td {padding: 10px 30px; }
.pmpro_checkout tr.odd td { background: rgba(125,125,125,.1); }

.pmpro_checkout tr td:first-child{
	font-weight:600;text-transform: uppercase;
	font-size:16px;
}

#pmpro_account_loggedin{padding:15px;background:#EFEFEF;border-radius:2px;}
.pmpro_checkout tr.selected td {background: #FFC; }
.pmpro_checkout tr.active td {background: #FFC; }
.pmpro_checkout .name {font-weight: bold; }
.pmpro_checkout ul {margin: 5px 0 0 20px; padding: 0; font-size: .8em; color: #444; }

.pmpro_checkout tfoot td {padding: 10px; color: #444; }
.pmpro_checkout .topfoot td {border-top: 2px solid #CCC;}
.pmpro_checkout .total td {border-top: 1px solid #CCC; font-size: 1.2em; font-weight: bold; padding-bottom: 30px;}
.pmpro_checkout tfoot .entercode td {background: #EEE; }

.pmpro_checkout td.rtbdr {border-right: 1px solid #CCC; }

.pmpro_checkout select {font-size: 11px; }

.pmpro_thead-msg {display: block; float: right; width: auto; font-style: italic; font-weight: normal; text-align: right; white-space: nowrap; }

.pmpro_ordersummary {float: right; }

#pmpro_license { background: #FFF; padding: 5px; border: 1px solid #CCC; height: 200px; margin: 3px; color: #666; overflow: auto; }

.pmpro_sslseal {float: right; clear: none !important; margin: 0 !important; }

a.pmpro_radio {text-decoration: none; color: #000;}

/*---------------------------------------
	Membership Invoice
---------------------------------------*/
.pmpro_invoice { }


/*---------------------------------------
	Membership Account
---------------------------------------*/
#pmpro_account .pmpro_box {}

#pmpro_account .pmpro_box p {margin: .5em 0 0 0; padding: 0; }
#pmpro_account .pmpro_box ul {margin-bottom: 0; }

#pmpro_account #pmpro_account-membership { }
#pmpro_account #pmpro_account-profile { }
#pmpro_account #pmpro_account-billing { }
#pmpro_account #pmpro_account-invoices { }
#pmpro_account #pmpro_account-links { }


.pmpro_hidden {display: none;}
li.pmpro_more {list-style-type: none; text-align: center; margin-left: -20px; padding-left: 0;}

/*---------------------------------------
	Membership Levels
---------------------------------------*/
#pmpro_levels_table {background: #FFF; }
#pmpro_levels_table .pmpro_btn {display: block; }


.pmpro_content{
	padding: 0 30px;
}

#pmpro_levels_table{
	width:100%;
	border:1px solid #EFEFEF;
}

#pmpro_levels_table thead{
	background:#232b2d;
	color:#FFF;
	text-transform: uppercase;
}

/*---------------------------------------
	Misc
---------------------------------------*/
.pmpro_a-right {float: right; width: auto; text-align: right; text-decoration: underline; font-size: 11px; }
.pmpro_a-print {float: right; width: auto; text-decoration: none; color: #345395; background: url(../images/printer.gif) top left no-repeat; padding: 0px 0px 2px 20px; font-size: 11px; line-height: 16px; cursor: pointer; } 

.pmpro_red {color: #CC0000; }
.pmpro_grey {color: #999; }

.top1em {margin-top: 1em;}
.bot1em {margin-bottom: 1em;}
.bot0em {margin-bottom: 0em;}
.clear {clear: both; }

.pmpro_small {font-size: .8em;}