{
	*
}

.user-drm-head{
	background: #92d050;
	    margin: 0px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.user-drm-logo h1{
	font-size: 30px;
    color: #fff;
    margin: 0px;
}

.user-image-left img{
	width: 100%;
}

.user-search input[type=text] {
  padding: 6px;
 
  font-size: 17px;
  border: none;
}

.user-search .search-container button {
  float: right;
  padding: 6px 10px;
  
  margin-right: 16px;
  background: #92d050;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.user-search .search-container button:hover {
                                             background: #92d050;
}

.user-drm-head-icons ul {
    list-style: none;
    float: right;
    padding-top: 9px;
}
.user-drm-head-icons ul li {
	             float: left;
}	    

.fa {
	 padding-left: 20px;
	 font-size: 20px;
}          

.user-search .search-container {
  float: left;
}

.user-search input[type="text"] {
    padding: 5px 10px;
        padding-right: 10px;
    font-size: 17px;
    border: none;
    color: #92d050;
    margin: 0px;
    padding-right: 0;
    width: 100%;
    border-radius: 5px;
}
.col-sm-4.user-search form {
    position: relative;
}
.col-sm-4.user-search form button {
    position: absolute;
    right: 0;
    background: transparent;
    box-shadow: none;
    border: none;
    top: 2px;
}

.user-search  .search-container button {
  float: right;
  padding: 4px 10px;
  background: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
  margin: 0px;
}

.details-user-drm {
    padding-top: 10px;
    padding-bottom: 10px;
}
.fa.fa-search {
    color: #92d050;
}

.details-user-drm h4 {
    color: #feab21;
    font-size: 15px;
}

.details-user-drm h4 i{
	color: #feab21;
	font-size: 10px;
	padding: 0px;
}

.details-user-drm li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: #92d050;
    font-weight: 600;
    
}

.row.user-drm-content {
    padding-top: 35px;
}
.left-side-bar-inner {
    border-right: 3px solid #e4eadb;
}
.details-user-drm ul {
	margin: 0px;
	padding: 0px;
}

.explore-user-drm h4{
	color: #feab21
}

 .explore-user-drm ul {
	margin: 0px;
	padding: 0px;
}

 .explore-user-drm li {
    list-style: none;
    font-weight: 600;
    margin-bottom: 3px;
}
  .explore-user-drm a {
    color: #92d050;
    font-size: 13px;
}

 .explore-user-drm img {width: 10%;
                     margin-right: 10px;
}

.user-drm-gallery ul {
	                   list-style: none;
	                   float: left;
	                   margin: 0px;
	                  padding-left: 40px;
	                   }

.user-drm-gallery ul li {
	             float: left;
	             text-align: center;
                 padding-right: 45px;
                 text-decoration: underline;
                 padding-top: 20px;
                 padding-left: 30px;
                 
}	

.user-drm-gallery h4 {
    color: #92d050;
    font-weight: 600;
    background: #eaf1dd;
    padding: 4px;
    margin-top: 0px;
    font-size: 14px;
}   

.user-drm-gallery ul li a {
	color: #92d050;
                 font-weight: 600;
} 

.user-drm-actions ul {
	                  list-style: none;
	                   
	                   margin: 0px;
	                   padding: 0px;
	                   margin-top: 40px;
margin-bottom: 40px;
	               }

.user-drm-actions li {
	            
	             text-align: center;}

.user-drm-actions h4 {
	color: #92d050;
	font-weight: 600;
	border: 3px solid #e4eadb;
background: #eaf1dd;
margin-top:0px;
font-size: 14px;
padding-left: 6px;
}   
.user-drm-actions h4 span{
	margin-left:20px;
}

.user-drm-actions ul li a {
	             color: #feac29;
                 font-weight: 600;
                 font-size: 14px;
} 

.user-drm-likes {
    display: inline-block;
    width:100%;
}
.user-drm-likes-inner {
	text-align: center;
}
.user-drm-likes-inner ul {
	                  list-style: none;
	                   float: left;
	                   margin: 0px;
	                   padding: 0px;
	               }

.user-drm-likes-inner li {
    float: left;
    text-align: center;
    color: #92d050;
    font-weight: 600;
    border: 1px solid #a9a9a9;
   padding: 2px 25px;
   width: 33.3%;
}

.user-drm-likes-inner h1 {
	color: #92d050;
	            font-weight: 600;
	            font-size: 22px;
	            padding-top: 35px;
}
.user-drm-likes-inner h2 {
	            color: #92d050;
	            font-weight: 400;
	            font-size: 18px;
                margin: 0px;
	           
}

.user-drm-actions1 i {
	 color: #92d050;
     font-size: 25px;
}

.user-drm-actions1 ul {
	list-style: none;
}
.user-drm-actions1 ul li  {

   margin-bottom:4px;

}
.user-drm-actions1 ul li a {

    font-size: 14px;

}
.user-drm-actions1 a { color: #92d050;
                       font-size: 18px;
                        }

.user-drm-actions1 h4 {
	           color: #92d050;
	            font-weight: 600;
              background: #eaf1dd;
              padding: 4px;
              margin-top: 0px;
              font-size:13px;
}
.user-drm-actions1 h4 span{
	margin-left: 	20px;
}

.user-drm-likes-inner {
    border: 3px solid #e4eadb;
    margin-bottom: 10px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 22px;
}
.user-drm-middle-bar {
    margin: 0px;
    padding-bottom: 20px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    }

    .user-drm-actions li {
    display: inline-block;
    width: 32%;
    text-align: center;}

    .user-drm-actions1 ul li i {
    margin-right: 5px;
}

.user-drm-actions1 ul {
    
    padding: 4px;
}

.user-drm-actions {
    border: 3px solid #e4eadb;
    margin-bottom: 10px;
}
.user-drm-actions1{
	border: 2px solid #e4eadb;
}
.latest-blog {
    display: inline-block;
    width: 100%;
}
.latest-blog > div {
    border: 2px solid #a6de6f;
    margin-top: 8px;
    padding: 15px 15px;
}
.user-drm-middle-bar-inner {
    display: inline-block;
    width: 100%;
    border: 3px solid #e4eadb;
    padding-bottom: 18px;
}
.latest-blog h2 {
    color: #879d6f;
    font-size:18px;
}
.latest-blog p{
    color: #879d6f;
    font-size: 16px;
}
.latest-blog > div {
    display: inline-block;
    width: 100%;
}
.latest-blog > div > div {
    width: 65%;
    float: left;
}
.latest-blog > div > div + div {
    float: right;
    width: 25%;
}
.latest-blog > div > div + div a, .latest-blog > div > div + div a img {
    display: inline-block;
    width: auto;
    float: right;
    height: 151px;
}
span.post-by {
    color: #4ac5d9;
}
span.post-by b {
    color: #98d25a;
    font-weight: 500;
    margin-right: 10px;
}
span.post-date {
    color: #cddebe;
    float: right;
}
.search-container:hover button:hover {
    background: transparent;
}
.latest-blog .latest-feed {
    background-image: url('http://s3.amazonaws.com/dotprofiles-s3-storage/wp-content/uploads/2019/09/04095620/111.jpg');
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 8px;
    padding: 8px 8px;
    color: #73b42d;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0px;
}
.explore-user-drm ul li:nth-child(1) {
    background: #eaf1dd;
}

.col-sm-3.user-drm-right-side-bar {

    width: 25%;
    position: fixed;
    right: 0;
    z-index: 9;

}
.col-sm-2.user-drm-left-side-bar {

    position: fixed;
    width: 17%;
    z-index: 9;
    left: 0;

}
.col-sm-7.user-drm-middle-bar {

    margin-left: 17%;

}
.row.user-drm-head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}
.row.user-drm-content {
    position: relative;
    margin-top: 40px;
}
.top-u-avtar img {
    border-radius: 50%;
    margin: 0 5px;
    position: relative;
    top: -3px;
}
.top-u-avtar {
    position: relative;
    top: -4px;
}
.page-template-user-drm-dashboard .sleek.transparent.fix.fixed {
    display: none;
}
.user-drm-actions ul {
    margin-top: 15px;
    margin-bottom: 15px;
}
.user-drm-likes-inner {
    padding-top: 15px;
    padding-bottom: 12px;
}
.user-drm-likes-inner h1 {
    font-size: 20px;
    padding-top: 15px;
}
.user-drm-actions1 ul li a i {
    font-size: 15px;
}
.user-drm-actions1 h4 {
    margin-bottom: 2px;
}
.user-drm-likes-inner h2 {
    font-size: 15px;
    margin-top: -8px;
}
.latest-blog h2 {
    margin-top: -5px;
    line-height: 24px;
    margin-bottom: 2px;
}
.latest-blog p {
    color: #879d6f;
    font-size: 15px;
    line-height: 22px;
}
.col-sm-3.user-drm-right-side-bar > div {
    margin-top: 4px;
}
.page-template.page-template-user-drm-dashboard #vibe_bp_login {
    position: fixed;
    top: 54px;
    padding-top: 0 !important;
}
.page-template.page-template-user-drm-dashboard #vibe_bp_login img.avatar {
    position: absolute;
    width: 78px;
    border-radius: 50%;
    top: 12px;
    left: 12px;
}




@media screen and (max-width: 1280px) {
.user-drm-gallery ul li {
    padding: 0 4%;
}
.user-drm-gallery ul {
    padding: 0;
    width: 100%;
}
.user-drm-likes-inner li {
    padding: 2px 0px;
    width: 33.3%;
    display: inline-block;
}
.user-drm-likes-inner ul {
    width: 100%;
}
}


@media screen and (max-width:945px) {
.user-drm-actions ul li a {;
    font-size: 12px;
}
.user-drm-actions li {
    width: 31%;
}

}

@media screen and (max-width:900px) {
.col-sm-2.user-drm-left-side-bar {
    width: 30%;
    position: inherit;
}
.col-sm-7.user-drm-middle-bar {
    margin: 0;
    width: 68%;
}
.col-sm-3.user-drm-right-side-bar {
    position: inherit;
    width: 100%;
}
.row.user-drm-head {
    z-index: 9999999999;
}
}

@media screen and (max-width:700px) {
.col-sm-2.user-drm-left-side-bar {
    width: 100%;
    position: inherit;
}
.col-sm-7.user-drm-middle-bar {
    margin: 0;
    width: 100%;
}
.col-sm-3.user-drm-right-side-bar {
    position: inherit;
    width: 100%;
}
.row.user-drm-content {
    position: relative;
    margin-top: 120px;
}
.row.user-drm-content {
    padding: 0 10px;
}
.col-sm-3.user-drm-logo {
    text-align: center;
}
.col-sm-4.user-search, .col-sm-5.user-drm-head-icons {
    display: inline-block;
    float: left;
    width: 50%;
    margin-top: 7px;
        padding: 0;
}
.user-drm-head-icons ul li {
    float: left;
    width: 20%;
}
.col-sm-5.user-drm-head-icons i {
    font-size: 18px;
    float: left;
    position: relative;
    left: -10px;
}
.user-search input[type="text"] {
    font-size: 12px;
    padding: 8px 6px;
}
.col-sm-2.user-drm-left-side-bar {
    padding: 0;
}
.user-image-left img {
    width: 120px;
    border: 1px solid #ccc;
    border-radius: 50%;
    height: 120px;
}

.user-image-left {
    text-align: center;
}
.col-sm-12.left-side-bar-inner {
    border: none;
}
}


@media screen and (max-width:500px) {
a.top-u-avtar {
    font-size: 14px;
    top: -3px;
    left: 4px;
}
a.top-u-avtar img{
display:none;
}

}